html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #fff;
}

#wrapper {
  height: 100%;
}

#nav-bar {
  height: 60px;
  background-color: fff;
  padding: 6px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#nav-bar a {
  text-decoration: none;
  color: #222;
}

#about {
  padding: 5px;
  margin: 0 5px;
  margin-left: 15px;
}

#store {
  padding: 5px;
  margin: 0 5px;
}

#third-box {
  flex-grow: 1;
  display: inline-block;
  height: 48px;
}

#right-elems {
  font-size: 13px;
  float: right;
  display: flex;
  padding-right: 15px;
  height: 48px;
  align-items: center;
  justify-content: flex-end;
}

#gmail {
  padding-left: 15px;
}

#images {
  padding-left: 15px;
}

#app-menu {
  height: 40px;
  width: 40px;
  background-color: grey;
}

#logo {
  background-color: rgb(211, 211, 211);
  height: calc(100% - 560px);
  min-height: 92px;
}

#inputs {
  padding: 20px;
  max-height: 160px;
  background-color: beige;
}

#spacer {
  background-color: rgb(211, 211, 211);
  flex-grow: 1;
}
